ans 1

In [ ]:
A database is a structured collection of data that is organized in a way
that allows for efficient storage, retrieval, and manipulation of that
data. Databases are used in various applications and systems to manage
and store data in a systematic and organized manner.


SQL Databases:
Structured Query Language (SQL): SQL databases are relational databases that use a structured query language (SQL) for defining and manipulating the data. SQL is a standard programming language for managing and manipulating relational databases.

Schema: SQL databases have a predefined schema, which means the structure of the data (tables, columns, and relationships) must be defined before data is added to the database.

ACID Properties: SQL databases follow the ACID properties (Atomicity, Consistency, Isolation, Durability), which ensure that database transactions are processed reliably.

Scalability: SQL databases are generally vertically scalable, meaning you can increase the capacity of a single server by increasing things like CPU, RAM, or SSD.

Examples: MySQL, PostgreSQL, SQLite, Oracle, Microsoft SQL Server.


NoSQL Databases:
Not Only SQL (NoSQL): NoSQL databases are non-relational databases that do not require a fixed schema and are often more flexible. They can store and process unstructured data, and they don't use SQL as their primary query language.

Schema-less: NoSQL databases are schema-less or have a dynamic schema, allowing you to insert data without first defining its structure. This flexibility is beneficial for handling semi-structured or unstructured data.

CAP Theorem: NoSQL databases are designed based on the CAP theorem (Consistency, Availability, Partition Tolerance), where systems can achieve at most two out of these three guarantees simultaneously.

Scalability: NoSQL databases are typically horizontally scalable, meaning you can add more servers to your NoSQL database to handle larger loads.

Examples: MongoDB, CouchDB, Cassandra, Redis, Amazon DynamoDB.

ans 2

In [ ]:
DDL stands for Data Definition Language, and it is a subset of SQL 
(Structured Query Language) used for defining and managing the 
structure of a relational database. DDL commands are used to create,
modify, and delete database objects like tables, indexes, and
constraints. 

CREATE: The CREATE command is used to create new database objects, such as tables, indexes, and views. It defines the structure and properties of these objects. Here's an example of creating a table in SQL:
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE
);

DROP: The DROP command is used to remove existing database objects. It permanently deletes the specified object from the database

ALTER: The ALTER command is used to modify an existing database object's structure, such as adding, deleting, or modifying columns in a table
ALTER TABLE employees
ADD COLUMN email VARCHAR(100);


TRUNCATE: The TRUNCATE command is used to remove all data from a table, but it retains the table structure. It is a fast and efficient way to delete all records from a table without deleting the table itself
TRUNCATE TABLE employees;

ans 3

In [ ]:
DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) used for manipulating and managing the data stored in a relational database.

INSERT: The INSERT command is used to add new records (rows) into a database table. It specifies the values to be inserted into the specified columns of the table.
INSERT INTO employees (employee_id, first_name, last_name, hire_date)
VALUES (101, 'John', 'Doe', '2023-10-13'); 

UPDATE: The UPDATE command is used to modify existing records in a database table. It allows you to change the values of specific columns based on certain conditions.
UPDATE employees
SET last_name = 'Smith'
WHERE employee_id = 101;

DELETE: The DELETE command is used to remove specific records from a database table based on a condition. It permanently deletes the selected rows from the table. 
DELETE FROM employees
WHERE employee_id = 101;

ans 4

In [ ]:
DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) used for querying and retrieving data from a relational database

In [ ]:
#example in sql
SELECT product_id, product_name, price
FROM products
WHERE category = 'Electronics'
ORDER BY price DESC;

ans 5

In [ ]:
Primary Key:

A primary key is a field or combination of fields in a database table that uniquely identifies each record (row) in that table. It serves as a way to ensure data integrity and maintain the uniqueness of records within a table.

Uniqueness: Each value in the primary key column(s) must be unique within the table. No two records can share the same primary key value.

Uniqueness Enforcement: The database management system enforces the uniqueness of the primary key, preventing the insertion of duplicate values.

Not Null: A primary key field cannot contain NULL values, ensuring that each record has a valid and unique identifier.

Data Integrity: Primary keys are used to establish relationships between tables and maintain data integrity by preventing orphans and ensuring referential integrity.

Indexed: Typically, primary key columns are automatically indexed by the database management system, which can improve query performance.


Foreign Key:

A foreign key is a field in a database table that is used to establish a link or relationship between two tables. It defines a relationship between data in two different tables, typically by referencing the primary key of another table.

References a Primary Key: A foreign key references the primary key of another table. It creates a link between records in one table (the child table) and records in another table (the parent table).

Data Integrity: Foreign keys are used to enforce referential integrity, ensuring that data in the child table corresponds to valid data in the parent table.

Cascading Actions: You can define actions that occur when data in the referenced table (parent) is modified. Common actions include CASCADE (changes propagate to child table), SET NULL (child field is set to NULL), and SET DEFAULT (child field is set to its default value).

Multiple Foreign Keys: A table can have multiple foreign keys, each referencing a different related table.

Indexes: Like primary keys, foreign keys are often indexed for improved performance in queries that involve join operations

ans 6

In [ ]:
To connect Python to a MySQL database, you can use the mysql-connector-python library, which provides a Python interface for MySQL databases. You can install this library using pip if you haven't already:
pip install mysql-connector-python

In [3]:
 import mysql.connector

# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host="your_host",
    user="your_user",
    password="your_password",
    database="your_database"
)

# Create a cursor object to interact with the database
cursor = connection.cursor()

# Example 1: Execute a SELECT query
cursor.execute("SELECT * FROM your_table")
result = cursor.fetchall()  # Retrieve all rows from the query result

for row in result:
    print(row)

# Example 2: Execute an INSERT query
insert_query = "INSERT INTO your_table (column1, column2) VALUES (%s, %s)"
values = ("value1", "value2")
cursor.execute(insert_query, values)

# Example 3: Execute an UPDATE query
update_query = "UPDATE your_table SET column1 = %s WHERE column2 = %s"
new_value = "new_value"
old_value = "value2"
cursor.execute(update_query, (new_value, old_value))

# Example 4: Execute a DELETE query
delete_query = "DELETE FROM your_table WHERE column1 = %s"
value_to_delete = "value1"
cursor.execute(delete_query, (value_to_delete,))

# Commit the changes to the database
connection.commit()

# Close the cursor and the database connection
cursor.close()
connection.close()

ModuleNotFoundError: No module named 'mysql'

ans 7

In [ ]:
The order of execution of SQL clauses in an SQL query is typically as follows:

FROM: The FROM clause specifies the tables from which data will be retrieved. It's the starting point of the query, and it identifies the source tables.

WHERE: The WHERE clause is used to filter the rows that meet a specified condition or criteria. It operates on the rows selected from the tables defined in the FROM clause.

GROUP BY: The GROUP BY clause is used to group rows with similar values into summary rows. It is often used with aggregate functions (e.g., COUNT, SUM, AVG) to perform operations on each group of rows.

HAVING: The HAVING clause is used to filter the grouped rows after the GROUP BY clause. It acts as a filter on the result of the grouping and is typically used with aggregate functions.

SELECT: The SELECT clause specifies which columns from the result set should be included in the output. It operates on the rows that have passed through the previous clauses.

DISTINCT: The DISTINCT keyword is used to eliminate duplicate rows from the result set.

ORDER BY: The ORDER BY clause is used to sort the result set by one or more columns in ascending or descending order. It is applied after all previous operations have been performed.

LIMIT/OFFSET: The LIMIT and OFFSET clauses are used to limit the number of rows returned and to specify the starting point for the result set, often used for pagination.

UNION/INTERSECT/EXCEPT: These set operations can be used to combine the results of two or more queries. The order of execution of these clauses depends on the specific query and the desired outcome