ans 1

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

ans 2

In [2]:
import pandas as pd

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
series = pd.Series(my_list)
print(series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

ans 3

In [3]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

ans 4

In [ ]:
In Pandas, a DataFrame is a two-dimensional, tabular data structure that is commonly used for data manipulation and analysis. It can be thought of as a collection of Pandas Series, where each Series represents a column, and the columns are aligned by a common index. DataFrames are quite similar to data tables or spreadsheets, and they are one of the most commonly used data structures in Pandas

On the other hand, a Pandas Series is a one-dimensional array-like object that can store data of any data type (integers, strings, floats, etc.), and it is similar to a column in a DataFrame. Each element in a Series has an associated label or index, which can be used to access individual elements in the Series.

In [4]:
# example 
import pandas as pd

# Creating a Series
s = pd.Series([1, 2, 3, 4, 5], name='MySeries')
print(s)

0    1
1    2
2    3
3    4
4    5
Name: MySeries, dtype: int64

In [5]:
# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27]
}

df = pd.DataFrame(data)
print(df)

     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27

ans 5

In [ ]:
Selecting Columns:

df['ColumnName']: You can select a single column by specifying its name.
df[['Column1', 'Column2']]: You can select multiple columns

->Filtering Data:

df[df['Column'] > 30]: You can filter rows based on a condition.

 ->Sorting Data:

df.sort_values(by='Column'): You can sort the DataFrame by a specific column.


->Grouping Data:

df.groupby('Column'): You can group data by a specific column.


->Aggregating Data:

df['Column'].sum(), df['Column'].mean(), df['Column'].count(), etc.: You can perform aggregate functions on a specific column.


->Joining Data:

pd.merge(df1, df2, on='KeyColumn'): You can join two DataFrames on a common column.

->Handling Missing Data:

df.dropna(): Remove rows with missing values.
df.fillna(value): Replace missing values with a specific value.

ans 6

In [ ]:
a DataFrame is mutable in nature. You can modify the contents of a DataFrame, add or remove columns, and update data within the DataFrame. DataFrames are designed to be mutable, and you can perform various data manipulation operations on them.